body{
    background: #f6f6f6;
}
#logo {
    position: relative;
    width: 150px;
}
.navbar-light{
    /*background: rgba(0 ,0 , 0, 0.4) !important;*/
    background: #e9ebeb !important;
    box-shadow: -2px -7px 47px 9px rgba(0 ,0 , 0, 0.5);
    -moz-box-shadow: -2px -7px 47px 9px rgba(0 ,0 ,0 , 0.5);
    -webkit-box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.5);
}

.navbar-toggler{
    border-color: #ffffff !important;
}
.navbar-light .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#titulo-noticia{
    background: rgba(0 ,0 , 0, 0.4) !important;
}
.navbar-brand{
    /*font-size: 1.6em;*/
    /*color: #ffffff !important;*/
}
.nav-link{
    color: #87f4b8 !important;
}
@media (min-width: 992px) {
    .nav-link{
        /*padding-bottom: 30px;*/
        /*padding-top: 30px;*/
        font-size: 1.6em;
        
    }
}

/* @media (min-width: 768px) {
    #myCarousel{margin-top: -25px;}
} */
.image-carousel{
    margin-top: 148px;
    width: 100%;
    height: 600px !important;
}
.carousel-control {
    padding-top: 340px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 100px;
    color: #fff;
    text-align: center;
    text-shadow: none !important;
    background-color: transparent !important;/*rgba(0, 0, 0, 0)*/
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image:      -o-linear-gradient(left, rgb(255,255,255) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(255,255,255)), to(rgb(255,255,255)));
    background-image:         linear-gradient(to right, transparent, transparent 100%);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image:      -o-linear-gradient(left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background-image:         linear-gradient(to right, transparent, transparent 100%);
    background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}
#img-ubs{
    position: relative;
    width: 100%;
    min-height: 250px !important;
}
#img-pagina-noticias{
    position: relative;
    width: 100%;
    min-height: 180px !important;
}
#card-pessoa{
    position: relative;
    width: 100%;
    height: 250px;
}
.card{
    width: 18rem;
}
@media (min-width: 992px){
    .card{
        width: 14rem;
    }
    #card-pessoa {
        height: 180px !important;
    }
}
.pessoas{
    height: 120px !important;
}
/* .row {margin: 25px 0;} */

/*rodape*/
.rodape{
    padding-top: 30px;
    background: rgba(0 ,0 , 0, 0.6);
    color: #ffffff;
    /* margin-bottom: 0; */
}
.rodape a{
    color: #ffffff;
}

#todas-noticias {
    margin-top: 150px;
}
@media (max-width: 768px){
    #todas-noticias {
        margin-top: 85px;
    }
}
.titulo-pagina-noticias{
    margin-top: 45px;
    padding-bottom: 5px;
}
.row-noticias{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.3px solid rgba(0 ,0 , 0, 0.2);
    text-align: justify;
}
#item-ubs{
    text-decoration: none !important;
    color: #000000;
}
#titulo-pagina-ubs{
    margin-top: 210px; 
}
.link-info_unidade{
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 10px;
}
.table-search{
    margin: 0 !important;
    padding: 0 !important;
}
#updated_at{
    margin-top: 30px;
}